body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  transition: 0.5s;
}

code {
  font-family: "Courier New", monospace;
}
.asd {
  background: rgba(59, 37, 37, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: none;
}
.wesig {
  color: green;
  opacity: 0.8;
  float: right;
  text-decoration: none;
  padding: 0 10px;
}
.noe {
  border: none;
}
.stye {
  text-decoration: none;
  cursor: pointer;
}
.colo {
  color: red;
}
.clo {
  color: darkblue;
}
.px {
  padding-left: 1px;
}
.gose {
  float: right;
  animation: mover 2s infinite alternate;
}
@keyframes mover {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(-40px);
  }
}
.scr{
  position: fixed;
  background: #16325a;
  border: 0px;
  border-radius: 40%;
  color: #fff;
  bottom: 50px;
  right: 50px;
  width: 70px;
  font-size: 40px;
  z-index: 1;
}
.sig {
  color: #1b4781;
  opacity: 0.8;
  float: right;
  text-decoration: none;
}
.asde {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 5px 20px;
}
.cash {
  padding: 0 25px;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease;
  text-indent: -100%;
  opacity: 3;
}
.logo {
  height: 40px;
  margin: 5px 10px;
}
.sty {
  margin-top: 9px;
  margin-left: 30px;
  width: 19rem;
  /* border: 1px solid orange !important; */
  border-top-left-radius: 20px !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: none !important;
}
.input-group-text {
  background: rgb(0, 132, 255) !important;
  /* background: orange !important; */
  border: 1px solid rgb(0, 132, 255) !important;
  margin: 8.5px 10px 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 20px !important;
  cursor: pointer;
}
.fa-search {
  color: #fff;
}
.col {
  background: #16325a !important;
  color: white;
}
.cart {
  color: white;
}
@media only screen and (max-width: 460px) {
  .top-nav-bar {
    height: 118px;
    border-bottom: 0;
  }
  .search-box {
    width: 100%;
  }
  .menu-bar {
    width: 100%;
  }
  .menu-bar ul {
    margin: 10px 0;
    width: 100%;
  }
  .menu-bar ul li {
    height: 57px;
    width: 100%;
  }
}
.feature-categories {
  margin: 50px 0;
}
.feature-categories img {
  width: 100%;
  padding: 20px 0;
  transition: 1s;
  cursor: pointer;
}
.feature-categories img:hover {
  transform: scale(1.1);
}
.title-box {
  background-color: #16325a;
  color: #fff;
  width: 180px;
  padding: 4px 10px;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
}
.title-box h2 {
  font-size: 24px;
}
.title-box::after {
  content: "";
  border-top: 40px solid #16325a;
  border-right: 50px solid transparent;
  position: absolute;
  display: flex;
  margin-top: -4px;
  margin-left: 170px;
}
.product-top .imgBx {
  position: relative;
  height: 50vh;
  width: 100%;
}
.product-top .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay-right {
  display: block;
  opacity: 0;
  position: absolute;
  top: 10%;
  margin-left: 0;
  width: 70px;
}
.overlay-right .fa {
  cursor: pointer;
  background-color: #16325a;
  color: #fff;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 7px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.overlay-right .btn-secondary {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
.product-top:hover .overlay-right {
  opacity: 1;
  margin-left: 5%;
  transition: 0.5s;
}
.product-botttom .fa {
  color: #16325a;
  font-size: 10px;
}
.product-botttom h3 {
  font-size: 20px;
  font-weight: bold;
}
.product-botttom h5 {
  font-size: 15px;
  padding-bottom: 10px;
}
.new-product {
  margin: 50px 0;
}
